<div class="container-fluid" >
    <div class="row" id="map-page-header"></div>
    <div id="gradient" class="parallax">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
        </nav>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{all.name}}, here are your shouts!</h5>
                    {{#each all.Shouts}} 
                    
                        <div class="alert alert-primary" role="alert">
                            {{!-- <form > --}}
                                <input class="updateShout{{this.id}}" data-id="{{this.id}}" type="text" name="firstname" placeholder="{{this.body}}"><br>
                                <br>   

                                {{#if this.isOwner}}                         
                                <button  class="btn btn-success update-btn" data-id="{{this.id}}" >Update</button>
 
                            </form>
                            <button class="btn btn-success del-btn" data-id="{{this.id}}">Del</button>
                            {{/if}}
                        </div>
                    {{/each}}                   
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="row" id="pic-div"><img src="{{all.imgUrl}}" alt="image profile"></div>
                <div class="row" >                
                <button class="btn btn-primary back-btn">Back</button>
                </div>
                <div class="row" id="AboutMe-div"></div>
                <button id="signout" >Sign-out </button>

            </div>
        </div>
    </div>
</div>



